
html {
  font-size: 16px;
}
body {
  margin: 0;
  color: #2e3440;
  font-size: 1rem;
  line-height: 1.5;
}
.article-item {
  color: hsla(238, 13%, 39%, 0.418);
}
.alone-size {
  color: hsla(0, 91%, 50%, 0.767);
}
.blog-item {
  font-size: 6em;
  color: rgb(12, 50, 65);
}
.contacts-item {
  font-size: 17px
}

h1 {
  font-size: 
}

strong {

}

header#top {
  height: 20vh;
}

.header {
  background-color: antiquewhite;
  background-image: url(Milk.jpg);
  background-size: cover;
  padding: 10em 0;
}

.text-elite {
  font-family: 'Special Elite', cursive;
}
/* navigation */ 
.logo {
    margin-left: 2em;
    display: inline-block;
    padding: 10px 0px;
}

img {
  height: 210px;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: table;
  background-blend-mode: multiply;
  background: url("../img/blue_color.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(1, 0, 5, 0.822);

}

.navbar-items {
  float: right;
  margin-top: 0%;
  padding-right: 2em;
}

.navbar-items li {
    list-style: none;
    display: inline-block;
    margin-left: 2em;    
    padding: 10px 3px;
}

/* cope */
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
    text-decoration: none;
}

.navbar a:hover, .navbar a:focus, .navbar a:active, .navbar a.active {
    color: #eb1010;
    /* text-decoration: underline; */
}

.navbar a {
  color: rgb(253, 253, 253);
  font-size: 1.2em;
}

.main {
  width: 70%;
  float: left;
}

.aside {
  width: 30%;
  float: right;
}

.block {
  display: block;
  content: "";
  clear: both;
}

#banner {
  color: #fff;
  text-align: center;
  padding: 3em 0;
  background-attachment: fixed;
  background-color: #0f075c;
  background-image: url("../img/Milk.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner .inner {
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 3em;
  background: rgba(19, 86, 231, 0.5);
  /* width: auto;
	height: auto;
  border-radius: 50% */
}

#banner .inner header {
  display: inline-block;
  padding: 3px 0 3px 0;
  margin: 0 0 2em 0;
}

#banner .inner header h2 {
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  padding-left: 0.05em;
  margin: 0;
  border-bottom: solid 2px;
  border-top: solid 2px;
}

#banner .inner p {
  letter-spacing: 0.1em;
  margin: 0;
}

#banner .inner p a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

#banner .inner footer {
  margin: 2em 0 0 0;
}

.button:hover {
  background: rgba(188, 202, 206, 0.15);
  border-color: inherit;
}

.button.special:hover {
    background: #96dad1 !important;
    border-color: #96dad1 !important;
}

.button {
  border: solid 1px;
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0 0.75em;
  line-height: 3.75em;
  text-align: center;
  text-decoration: none;
}