
html {
  font-size: 16px;
  background-color: hsla(145, 80%, 45%, 0.5);
}
body {
  color: rgb(rgb(43, 255, 0), green, blue);
  font-size: 1rem;
  line-height: 1.5;
}
.article-item {
  color: hsla(238, 13%, 39%, 0.418);
}
.alone-size {
  color: hsla(0, 91%, 50%, 0.767);
}
.blog-item {
  font-size: 6em;
  color: rgb(12, 50, 65);
}
.contacts-item {
  font-size: 17px
}

h1 {
  font-size: 
}

strong {

}

header#top {
  height: 20vh;
}

.text-elite {
  font-family: 'Special Elite', cursive;
}
/* navigation */ 

img {
  height: 210px;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  max-width: 100%;
  background: aliceblue;
}

.navbar-items li {
  display: inline-block;
}

.navbar a {
  font-size: 1.2em;
}

.main {
  width: 70%;
  float: left;
}

.aside {
  width: 30%;
  float: right;
}

.block {
  display: block;
  content: "";
  clear: both;
}